<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TFJ TECHNOLOGY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TFJ TECHNOLOGY</ion-title>
    </ion-toolbar>
  </ion-header>

  

  <div id="container">
    <div class="home-container">
      <h2>Bienvenue chez TFJ Technology</h2>
      <p>Découvrez notre système de gestion des employés.</p>
      <ion-button expand="full" routerLink="/manage-employers">Voir la liste des employés</ion-button>
    </div>
  </div>
</ion-content>
