

.div-form{
    margin: 120px auto;
}

#form-creation-employee{
    background-color: rgba(20, 123, 44, 0.601)!important;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 0 20px;
    color: #271818;
    font-size: 15px;
    box-shadow: black 10px 10px 15px;
}
#form-creation-employee input{
    height: 50px;
}/*
#form-creation-employee button{
    
}*/
.h1-creat-employee{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}
