<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <strong>TFJ TECHNOLOGY</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <ion-header collapse="condense" class="container">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">
        <strong>TFJ TECHNOLOGY</strong>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="container mt-4">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div>
            <h2 class="navbar-brand" mb-2 href="#">Employee Management</h2>
            <button data-bs-toggle="modal" class="btn btn-outline-success btn-sm m-2" type="submit" routerLink="/create-employee">Add Employee</button>
          </div>

          <form class="d-flex m-2 container" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>

      <div class="mt-2 container">
        <ion-list>
          <!-- Table Header -->
          <ion-item lines="full" class="ion-hide-sm-down"> <!-- Masque sur les petits écrans -->
            <ion-label class="ion-text-start">Nom</ion-label>
            <ion-label class="ion-text-start">Prénom</ion-label>
            <ion-label class="ion-text-start">Email</ion-label>
            <ion-label class="ion-text-end">Actions</ion-label>
          </ion-item>

          <!-- Table Rows -->
          <ion-item *ngFor="let employee of employees">
            <ion-label class="ion-text-start">{{ employee.firstname }}</ion-label>
            <ion-label class="ion-text-start">{{ employee.lastname }}</ion-label>
            <ion-label class="ion-text-start">{{ employee.email }}</ion-label>
            <ion-label class="ion-text-end">
              <ion-button class="edit-button" (click)="editEmployee(employee)" routerLink="/edit-employee" expand="full" fill="solid" color="primary">Edit</ion-button>
              <ion-button class="delete-button" (click)="deleteEmployee(employee)" expand="full" fill="solid" color="danger">Delete</ion-button>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
