#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajustez si nécessaire */
  }
  
  .container {
    max-width: 400px; /* Ajustez en fonction de la largeur de votre formulaire */
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  